.tabs-cpn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .title {
    font-size: 20px;
    font-weight: 500;
  }
}
.tab-cpn {
  padding: 10px 15px;
  cursor: pointer;
  &.active {
    color: #000;
    font-weight: 600;
    border-bottom: 2px solid;
  }
}
.tabs-left {
  display: flex;
  align-items: center;
}
